{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header_title %}{{ header_title }}{% endblock %}

{% block head_extra %}
<style>
    .feedback-container {
        width: 100%;
        height: calc(100vh - 120px); /* Adjust height based on your header/footer */
        border: none;
    }
</style>
{% endblock %}

{% block content %}
    <iframe src="https://forms.gle/5LeiKT1tRoNWmVst5" class="feedback-container" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endblock %}

{% block page_scripts %}{% endblock %}